@font-face {
    font-family: 'din_alternatebold';
    src: url('fonts/din_alternate_bold-webfont.woff2') format('woff2'), url('fonts/din_alternate_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'voltaire_serif_v2bold';
    src: url('fonts/voltaire_serif_02_g_fixed-webfont.woff2') format('woff2'), url('fonts/voltaire_serif_02_g_fixed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

.contentPage {
    /* left:0px;
    right:0px; */
    padding-top: 10%;
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow-x: hidden;
    position: fixed;
    text-align: center;
    /* background-image: url("../assets/img/tiny/light.png"); */
    /* background-position: -200px ; */
    /* background-size: auto; */
}

@media only screen and (max-width: 768px) {
    [class*="contentPage"] {
        padding-top: 15%;
        width: 100%;
        height: 100%;
        touch-action: none;
        overflow-x: hidden;
        position: absolute;
        text-align: center;
    }
}

#landing {
    z-index: 0;
    background-color: whitesmoke;
}

#description {
    z-index: 1;
    background-color: whitesmoke;
    /* right:100%; */
}

#events {
    z-index: 2;
    /* left:100%; */
    background-color: whitesmoke;
}

.overlays {
    /* background-color: #000; */
    overflow: hidden;
    /* position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block; */
}

.contentFade {
    position: fixed;
    top: 50%;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(236, 187, 187, 255));
}

.menu {
    position: absolute;
    overflow: scroll;
    /* margin:200 auto; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10%;
    display: none;
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/print_bg.jpg");
    /* background-repeat: no-repeat;*/
    /* background-size: au auto; */
}

.etage {
    margin-left: 20%;
    margin-right: 20%;
}

.menucontent {
    position: relative;
    /* margin:200 auto; */
    overflow: auto;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
}

.menubutton {
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    line-height: 0;
    z-index: 11;
    width: 64px;
    height: 64px;
    /* background-image: url("../assets/img/swan.png"); */
    /* background-color: rgb(255, 255, 255);
    background-size: cover; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 60px;
    color: #000000;
}

.pageIndicator {
    position: absolute;
    right: 20px;
    top: 0;
    text-align: right;
    line-height: 0;
    z-index: 11;
    width: 64px;
    height: 64px;
    /* background-image: url("../assets/img/swan.png"); */
    /* background-color: rgb(255, 255, 255);
    background-size: cover; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 60px;
    color: #000000;
}

a {
    font-family: din_alternatebold;
    text-decoration: underline;
    /* font-size: 60px; */
    word-wrap: break-word;
    color: #0064FF;
    text-align: center;
}

a:visited {
    font-family: din_alternatebold;
    text-decoration: underline;
    font-size: 60px;
    word-wrap: break-word;
    color: #F06A98;
    text-align: center;
}

a:hover, a:active {
    color: #F06A98;
    cursor: pointer;
}

h1 {
    font-family: din_alternatebold;
    text-decoration: underline;
    font-size: 60px;
    word-wrap: break-word;
    color: #0064FF;
    text-align: center;
    /* text-transform:uppercase; */
}

h2 {
    font-family: din_alternatebold;
    font-size: 20px;
    word-wrap: break-word;
    color: #141414;
    text-align: right;
}

h3 {
    font-family: din_alternatebold;
    font-size: 20px;
    word-wrap: break-word;
    color: #141414;
    text-align: right;
}

/*PageTitle*/

h6 {
    font-family: voltaire_serif_v2bold;
    text-decoration: underline double;
    font-size: 60px;
    word-wrap: break-word;
    color: #141414;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4%;
    z-index: 12;
}

p {
    font-family: OpenSans;
    font-size: 20px;
    color: #000000;
}

.description {
    font-family: OpenSans;
    font-size: 20px;
    color: #000000;
}

.waitfor {
    position: absolute;
    /* margin:200 auto; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10% 10% 10% 10%;
    /* display: none; */
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/tiny/render_black1.png");
    /* background-repeat: no-repeat;*/
    background-position: -200px -6%;
    background-size: cover;
}

#EventsToggl {
    font-family: din_alternatebold;
    position: absolute;
    background: #0064FF;
    color:white;
    width: 95px;
    height: 95px;
    top: 5px;
    right: 5px;
}

.waitforsmall {
    /* position: absolute; */
    /* margin:200 auto; */
    /* left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; */
    padding: 4px;
    /* display: none; */
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/tiny/light.png");
    /* background-repeat: no-repeat;*/
    background-size: auto auto;
}

/* a {
    vertical-align: middle;
    font-family: din_alternatebold;
    font-size: 20px;
    color: #4A4A4A;
    line-height: 62px;
} */

.disclaimerBox {
    position: fixed;
    background: #FFFFFF;
    padding: 10px;
    height: auto;
    left: 20%;
    right: 20%;
    z-index: 11;
}

.disclaimer {
    font-size: 13px;
    font-family: din_alternatebold;
    margin: 0;
    text-align: center;
}

button {
    padding: 0;
    border: none;
    outline: none;
    font: inherit;
    color: inherit;
    background: none
}

.movingIn {
    position: relative;
    padding: 8px;
    margin: auto;
    vertical-align: middle;
    background: #0064FF;
    transform: rotate(30deg);
    top: -70px;
    left: auto;
    right: auto;
    height: 34px;
    width: 100px;
}

.movingInText {
    color: white;
    text-align: center;
    font-size: 13px;
}

#instaBackground {
    color: white;
    background-color: #8a3ab9;
    /* background-image: url("../assets/img/light.png"); */
    background-position: 500px;
    background-size: auto;
}

#fbBackground {
    color: white;
    background-color: #0064FF;
    /* background-image: url("../assets/img/light.png"); */
    /* background-position: -200px ; */
    background-size: auto;
}

.etitle {
    /* background-color: #0064FF; */
    padding-bottom: 12px;
}

.edate {
    text-align: right;
    font-family: din_alternatebold;
}

@media only screen and (max-width: 768px) {
    [class*="edate"] {
        text-align: center;
    }
}

.ehosted-by {
    text-transform: lowercase;
    text-align: left;
    font-family: din_alternatebold;
}

@media only screen and (max-width: 768px) {
    [class*="ehosted-by"] {
        text-align: center;
    }
}

.eroom {
    display: none;
}

.edescription {
    display: none;
}

.efb-link {}