html, body {
    margin: 0;
    padding: 0;
}

.contentPage {
    /* left:0px;
    right:0px; */
    /* top: 0px; */
    width: 100%;
    height: 100%;
    touch-action: none;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
}

#landing {
    z-index: 0;
    background-color: whitesmoke;
}

#description {
    z-index: 1;
    background-color: whitesmoke;
    /* right:100%; */
}

#events {
    z-index: 2;
    /* left:100%; */
    background-color: whitesmoke;
}

.overlays {
    /* background-color: #000; */
    overflow: hidden;
    /* position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block; */
}

.contentFade {
    position: fixed;
    top: 50%;
    bottom: 0px;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(236, 187, 187, 255));
}

.menu {
    position: absolute;
    overflow: scroll;
    /* margin:200 auto; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10% 10% 10% 10%;
    display: none;
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/print_bg.jpg");
    /* background-repeat: no-repeat;*/
    /* background-size: au auto; */
}

.menucontent {
    position: relative;
    /* margin:200 auto; */
    overflow: auto;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000;
}

.menubutton {
    position: absolute;
    /* left: 24px; */
    /* top: 24px; */
    z-index: 11;
    /* width: 64px;
    height: 64px; */
    /* background-image: url("../assets/img/swan.png"); */
    /* background-color: rgb(255, 255, 255);
    background-size: cover; */
    font-family: HiraginoSans-W6;
    font-size: 80px;
    color: #000000;
}

h1 {
    font-family: DINAlternate-Bold;
    text-decoration: underline;
    font-size: 60px;
    word-wrap: break-word;
    color: #0064FF;
    text-align: center;
}

h2 {
    font-family: DINAlternate-Bold;
    font-size: 20px;
    word-wrap: break-word;
    color: #141414;
    text-align: right;
}

p {
    font-family: OpenSans;
    font-size: 20px;
    color: #000000;
}

.description {
    font-family: OpenSans;
    font-size: 20px;
    color: #000000;
}

.waitfor {
    position: absolute;
    /* margin:200 auto; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10% 10% 10% 10%;
    /* display: none; */
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/tiny/render_black1.png");
    /* background-repeat: no-repeat;*/
    background-position: -200px -6%;
    background-size: cover;
}

.waitforsmall {
    /* position: absolute; */
    /* margin:200 auto; */
    /* left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px; */
    padding: 4px;
    /* display: none; */
    overflow: hidden;
    z-index: 10;
    background-image: url("../assets/img/tiny/light.png");
    /* background-repeat: no-repeat;*/
    background-size: auto auto;
}

a {
    vertical-align: middle;
    font-family: DINAlternate-Bold;
    font-size: 20px;
    color: #4A4A4A;
    line-height: 62px;
}

#movingIn {
    background: #0064FF;
    color: white;
}

#instaBackground {
    color: white;
    background-color: #8a3ab9;
    /* background-image: url("../assets/img/light.png"); */
    background-position: 500px;
    background-size: auto;
}

#fbBackground {
    color: white;
    background-color: #0064FF;
    /* background-image: url("../assets/img/light.png"); */
    /* background-position: -200px ; */
    background-size: auto;
}

#cell{

}

#callout{

}

#thumbnail{

}

#title{

}

#date{

}

#time-from{

}

#time-to{

}

#tag{

}

#hosted-by{

}

#room{

}

#description{

}

#fb-link{
    
}